<form th:object="${person}" th:action="@{/persons/save}" th:method="POST">
    <input type="hidden" th:field="*{id}">
    <div>
        <label for="firstname">Prénom : </label>
        <input type="text" th:field="*{firstname}" id="firstname" required />
        <span th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Error</span>
    </div>
    <div>
        <label for="lastname">Nom de famille :</label>
        <input type="text" th:field="*{lastname}" id="lastname" required />
        <span th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Error</span>
    </div>
    <div>
        <input type="submit" class="button" value="Sauver" />
        <input type="button" class="button" value="Retour" onclick="window.location='/persons'" />
    </div>
</form>