<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- <link rel="stylesheet" th:href="@{/css/main.css}" /> -->
    <meta charset="utf-8">
    <title>Liste des Espèces</title>
</head>

<body>
    <table class="mainTable">
        <thead>
            <a th:href="@{'/persons/create'}">Ajouter une personne</a>
        </thead>
        <tbody>
            <tr th:each="personItem : ${personList}">
                <td th:text="${personItem.firstName}" />
                <td th:text="${personItem.lastName}" />
                <td><a th:href="@{'/persons/' + ${personItem.id}}">Modifier</a></td>
            </tr>
        </tbody>
    </table>
</body>