<form th:object="${person}" th:action="@{/persons}" th:method="POST">
    <input type="hidden" th:field="*{id}">
    <div>
        <label for="firstname">First name : </label>
        <input type="text" th:field="*{firstname}" id="firstname" required />
    </div>
    <div>
        <label for="lastname">Last name :</label>
        <input type="text" th:field="*{lastname}" id="lastname" required />
    </div>
    <div>
        <label for="age">Age :</label>
        <input type="text" th:field="*{age}" id="age" required />
    </div>
    <div>
        <input type="submit" class="button" value="Sauver" />
        <input type="button" class="button" value="Retour" onclick="window.location='/animals'" />
    </div>
</form>