<form th:object="${species}" th:action="@{/species/save}" th:method="POST">
    <input type="hidden" th:field="*{id}">

    <div>
        <label for="commonName">Nom Commun : </label>
        <input type="text" th:field="*{commonName}" id="commonName" required />
    </div>
    <div>
        <label for="latinName">Nom latin :</label>
        <input type="text" th:field="*{latinName}" id="latinName" required />
    </div>
    <div>
        <input type="submit" class="button" value="Sauver" />
        <input type="button" class="button" value="Retour" onclick="window.location='/species'" />
    </div>
</form>
<form th:object="${species}" th:method="DELETE" th:action="@{/species/delete}">
    <input type="hidden" id="id" name="id" th:value="*{id}">
    <button type="submit">
        Delete
    </button>
</form>