<form th:object="${species}" th:action="@{/species}" th:method="POST">
    <input type="hidden" th:field="*{id}">
    <div>
        <label for="commonName">Common name : </label>
        <input type="text" th:field="*{commonName}" id="commonName" required />
    </div>
    <div>
        <label for="latinName">Latin name :</label>
        <input type="text" th:field="*{latinName}" id="latinName" required />
    </div>
    <div>
        <input type="submit" class="button" value="Sauver" />
        <input type="button" class="button" value="Retour" onclick="window.location='/animals'" />
    </div>
</form>